body{
    margin:0;
    max-height:100%;
    background: black;
}


.to-do{

    position: relative;
    width: 100%;
    margin: 20px auto;
    height: auto;
}

#items{
    width: 60%;
    height: 100px;
    margin: 20px auto;
}

h1{
    text-align: center;
    font-size: 55px;
}

input{

    width:20%;
    height: 40px;
}

#input-bar{
   height: 40px;
   width: 80%;
   font-size: 20px;
   display: inline-block;
   border: 1px dashed black;
   font-family: 'Lucida Sans', 'Lucida Sans Regular';
   background: #201f1f;
   box-shadow: 1px 2px 2px 2px #1f1d1d;
   color: white;
   text-align: center;
    
}

#add-button{
    
    width: 10%;
    text-align: center;
    padding-top: 10px;
    background: #201f1f;
    color: white;
    padding-bottom: 10px;
    display: inline-block;
    font-size: 22px;
    font-weight: bolder;
}

#add-button:hover{
    box-shadow: 1px 2px 4px 2px grey;
   }
   

#container{
    position: relative;
    width: 60%;
    min-width: 300px;
    display: block;
    text-align: center;
    margin: 30px auto;
}

.tasks-container{
    display: inline-block;
    max-width: 300px;
    position: relative;
    width: 80%;
    margin: 30px;
    min-height: 200px;
    text-align: justify;
    font-size:20px;
    border-radius: 5%;
    vertical-align: top;
}

#pending-items{

background: #ea0769;
}

#pending-items div{
  
    background: #3c3c3c;
    box-shadow: -1px 7px 20px black;
    color: white;
    
}

#pending-items div:hover{
    box-shadow: 1px 8px 9px 9px black;
    background: #646464;
    padding: 5px;
    transition: all 0.5s ease out;
    color:black;
    font-weight: bold;
}

#completed-items{

    background: #ea0769;
}

#completed-items div{
 
    BACKGROUND: #121b2b;
    box-shadow: 2px 0px 3px 0px white;
    color: white;
}

#completed-items div:hover{
    
    padding: 5px;
    box-shadow: 3px 3px 3px 2px #d2ccd7;
}

}
span{
    vertical-align: super;
}
.background{

}

#title{
width: 80%;
 height:30px;
 font-weight: bold;
 text-align:center;
 padding: 20px;
 font-size:20px;
 text-transform: uppercase;
 margin: 10px;
 background: #ea0769;
 border: #e90aa2;
 COLOR:WHITE;

}

::placeholder {
    color:white;
}


