body{
    margin:0;
    max-height:100%;
    background: #131313;
}


.to-do{

    position: relative;
    width: 100%;
    margin: 20px auto;
    height: auto;
}

#items{
    width: 85%;
    height: 100px;
    margin: 10px auto;
}

h1{
    margin-top: 30px;
    text-align: center;
    font-size: 55px;
    color:white;
}

input{

    width:20%;
    height: 40px;
}

#input-bar{
   height: 55px;
   width: 88%;
   font-size: 20px;
   display: inline-block;
   font-family: 'Lucida Sans', 'Lucida Sans Regular';
   background: white;
   box-shadow: 1px 2px 2px 2px #1f1d1d;
   color: black;
   text-align: center;
   font-weight: bolder;
   margin: 10px auto;
   
    
}

#input-bar::placeholder{
    color:black;
    font-weight: bold;
    letter-spacing: 1px;;
}

#add-button{
    
    width: 10%;
    text-align: center;
    padding-top: 15px;
    background: #201f1f;
    color: white;
    padding-bottom: 15px;
    display: inline-block;
    font-size: 25px;
    font-weight: bolder;
}

#add-button:hover{
    box-shadow: 1px 2px 4px 2px grey;
   }
   

#container{
    position: relative;
    width: 80%;
    min-width: 300px;
    display: block;
    text-align: center;
    margin: 30px auto;
}

.tasks-container{
    display: inline-block;
    max-width: 300px;
    position: relative;
    width: 80%;
    margin: 30px;
    min-height: 200px;
    text-align: justify;
    font-size:20px;
    border-radius: 5%;
    vertical-align: top;
    padding-bottom: 20px;
    box-shadow: 5px 8px 19px 1px #000000;

}

#pending-items{

background: #302d2e;
}

#pending-items div{
  
    background: #e90770;
    box-shadow: 1px 0px 5px 0px black;
    color: #0f0a0d;
    font-weight: bold;
    
    
}

#pending-items div:hover{
    transition: all 0.5s ease out;
    color:white;
    font-weight: bold;
}

#completed-items{

    background: #302d2e;
}

#completed-items div{
 
    background: rgb(42, 185, 142);
    box-shadow: -1px 4px 9px 2px #333131;
    color: rgb(24, 22, 22);
    font-weight: bolder;

}




span{
    vertical-align: super;
}
.background{

}

#title{
width: 80%;
 height:30px;
 font-weight: bold;
 text-align:center;
 padding: 20px;
 font-size:20px;
 text-transform: uppercase;
 margin: 10px;
 background: #302d2e;
 COLOR: WHITE;
 border: none;
 letter-spacing: 1px;
 padding-left: 50px;

}

::placeholder {
    color:white;
}

@media only screen and (orientation : portrait) { 
    
    .tasks-container{
        display: block;
        max-width: 80%;
        margin:30px auto;
        border-radius: 20px;
    }
}