#gameName{
    position:relative;
    border: 1px solid black;
    width:100%;
    height:30px;
    margin:40px auto;
    margin-left: 40px;
    margin-right:40px;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    box-sizing: border-box;
}

#rulesOfGame{

    border: 1px solid black;
    width: 100%;
    height: 40px;
    text-align: center;
}

.rules{
   
    border:1px solid black;
    display:flex;
    width:20%;
    height:100%;
    float: left;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;

}

.newGame{
    
    position: absolute; ;
    border:1px solid black;
    display:flex;
    width:20%;
    height: 100%;
    float: left;
    right:30;
    height: 5%;
    text-align: center;

}

#image{

    width:100%;
    height:40%;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    box-sizing: border-box;
}

#matchstick{

    width:150px;
    
}

#user{

}

.players{

    border: 1px solid black;
    width: 100%;
    display: flex;
    margin-top: 20px;
    padding: 20px;
    height: 200px;
    box-sizing: border-box;
    
}

#user{
    flex: 1;
    margin: 10px auto;
    
}
#quest{

    margin-left: 15px;
}
#one,#two,#three,#four{

    border:1px solid black;
    width:10%;
    display: flex;
    float: left;
    margin-left: 20px;
    margin-top:20px;
    text-align: center;
}
#computer{
    
    flex:1;
    
}

#computer{
    right: 0;
}

img{
    
    margin-top:20px;
    padding-top: 30px;
    width: 40%;
    height:30%;
    float: left;
    display: flex;
}

#userChance{
    
    position: relative;
    border: 1px solid black;
    width:40%;
    height:30px;
    right:50%;
    bottom:-40;
    float: left;
    margin-top:30px;
    
}

#computerChance{
    position: relative;
    border: 1px solid black;
    width:40%;
    height:30px;
    right:50%;
    bottom:-40;
    float: left;
    margin-top:30px;

}