@import 'content.scss';

body {
    background: #eaeaea;
}
#weather-container {
    background: #f0f0f0;
    border-radius: 20px;
    box-shadow: 7px 7px 20px #00000040, 
                -7px -7px 20px 6px #ffffff;
    overflow: hidden;
    width: max-content;
    margin: 0 auto;

    .card-content {
        display: flex;
        justify-content: space-between;
        padding:20px;
        box-sizing: border-box;
    }
}

.present_temp
{
    .temprature{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#search {
    width: 80%;
    margin: 30px auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 800;
    background: none;
    display: block;
    outline: none;
    border: none;
    border-radius: 10px;
    min-height: 50px;
    box-shadow: inset 4px 4px 8px #0000003d, 
                inset -4px -4px 8px #ffffffad;
    transition: ease-in color 1s;
}

#search:focus::placeholder{
    color: transparent;
}

#search::placeholder {
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 4px;
    color: rgba(0, 0, 0, 0.1);
    font-weight: 600;
}

sup{
    font-weight: 100;
    font-size: 15px;
}
.current-Day {
    margin-right: 35px;
    padding: 10px;
}

#current_country {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    font-family: sans-serif;
}

.lat_lon{
    font-size: 12px;
    padding-right: 10px;
    font-family: sans-serif;
}
#country{
    font-size:15px;
    font-weight: 300;
}
.temprature-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

.image{
    margin-right: 100px;
}

.temprature-container .temp_current{
    font-size: 30px;;
}
.temp_current{
    text-align: center;
    font-family: sans-serif;
}

#currentTimeAndDate {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#currentTimeAndDate #current_Date {
    font-family: sans-serif;
    font-size: 30px;
}
#current_Date .year {
    font-size: 15px;
}
#currentTimeAndDate #current_Time {
    font-weight: 400;
    font-size: 46px;
    font-family: monospace;
    margin-top: 10px;;
}

.present_temp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-icon {
    font-size: 80px;
    color: #2196F3;
}

.degree {
    font-size: 15px;
}

.detail {
    font-size: 10px;
    font-family: sans-serif;
}
#left__Interval {
    display: flex;
    margin-top: 20px;;
}

.next_Interval{
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.next_Interval:not(:last-child){
    border-right: 2px solid;
}

.next_Interval .temp_min{
    text-align: center;
    font-size: 17px;
}

.next_Interval .nextTime {
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;

}

.current_min{
    font-size: 12px;
    font-weight: 400;

}
#border-right{
    width: 2px;
    height: 15px;
    margin: 0px 10px;
    box-sizing: border-box;
    background: black;
}
.Next__DayReport {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.next_Day{
    position: relative;
    margin: 0px 10px;
    background: #f2f2f2;
    border-radius: 20px;
    padding: 35px;
    box-shadow: inset 7px 7px 6px #00000026, 
                inset -7px -7px 8px #ffffff54, 
                inset 10px 9px 13px #e1e1e154;
}
.nextDay_temp {
    display: flex;
    flex-direction: column;
}

.next_Day .weather-icon {
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    opacity: 0.2;
    font-size: 120px;
}

.temp{
    margin-bottom: 30px;
}

.temp .curr_temp {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
}

.temp_minMax {
    border-right: 2px solid black;
    margin-bottom: 20px;
}

.temp_minMax .temp_min{
    padding-right: 10px;
}
.temp_minMax .min{
    font-size: 10px;
    margin-right: 20px;
    margin-left: 10px;
}

.nextDayTemperatures {
    display: flex;;
}

.minmax {
    margin-left: 10px;

}

.minmax .min{
    font-size: 10px;
    margin-right: 20px;
    margin-left: 10px;
}

.nextDay_time {
    margin-top: 10px;
    text-align: center;
    font-size: 23px;
}

@media screen and (max-width:500px){
    #weather-container {
        .card-content {
            flex-direction: column;
        }
    }
}

@media screen and (max-width : 780px) {
    .Next__DayReport {
        flex-direction: column;
    }
    
    .next_Day{
        margin-top: 30px;
    }
}